/* .signup-container {
    display: flex;
    height: 40rem;
    width: 60rem;
    border-radius: 2rem;
    margin: 5rem auto;
    border: 2px solid rgb(67, 31, 176);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  }
  
  .signup-image {
    flex: 1;
    padding-left: 2rem;
    background-image: url("../Images/signup.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 2rem 0 0 2rem;
  }
  
  .signup-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }
  
  .signup-head {
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .username-input,
  .email-input,
  .password-input {
    margin-top: 1rem;
  }
  
  .username-input input,
  .email-input input,
  .password-input input {
    
    width: 100%;
    height: 3rem;
    margin-left: 0;
    border-radius: 1rem;
    border: 2px solid rgb(52, 29, 168);
  }
  
  .signup-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    height: 3rem;
  }
  
  .signup-btn button {
    background: rgb(63, 94, 251);
    background: radial-gradient(
      circle,
      rgba(63, 94, 251, 1) 0%,
      rgba(189, 70, 252, 1) 100%
    );
    border:2px solid rgb(52, 29, 168);
    color: aliceblue;
    width: 10rem;
    height: 3rem;
    border-radius: 1rem;
    cursor: pointer;
    margin-bottom: 1rem;
  }
  
  .login span {
    margin-left: 5rem;
  
  }


   */

   .signup-container {
    display: flex;
    height: 40rem;
    width: 60rem;
    border-radius: 2rem;
    margin: 5rem auto;
    border: 2px solid rgb(67, 31, 176);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  }
  
  @media screen and (max-width: 768px) {
    .signup-container {
      flex-direction: column;
      height: 100%;
      width: 100%;
    }
    .signup-image {
      display: none;
    }
    .signup-wrapper {
      flex: none;
      padding: 2rem;
    }
  }
  
  .signup-image {
    flex: 1;
    padding-left: 2rem;
    background-image: url("../Images/signup.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 2rem 0 0 2rem;
  }
  
  .signup-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }
  
  .signup-head {
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .username-input,
  .email-input,
  .password-input {
    margin-top: 1rem;
  }
  
  .username-input input,
  .email-input input,
  .password-input input {
    width: 100%;
    height: 3rem;
    margin-left: 0;
    border-radius: 1rem;
    border: 2px solid rgb(52, 29, 168);
  }
  
  .signup-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    height: 3rem;
  }
  
  .signup-btn button {
    background: rgb(63, 94, 251);
    background: radial-gradient(
      circle,
      rgba(63, 94, 251, 1) 0%,
      rgba(189, 70, 252, 1) 100%
    );
    border: 2px solid rgb(52, 29, 168);
    color: aliceblue;
    width: 10rem;
    height: 3rem;
    border-radius: 1rem;
    cursor: pointer;
    margin-bottom: 1rem;
  }
  
  .login span {
    margin-left: 5rem;
  }